/** Global **/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Helvetic Neue", Arial, sans-serif;
    caret-color: transparent;
}

header {
    background-color: hsla(144, 65%, 16%, 1);
}

body {
    background-color: hsl(19, 83%, 52%);
    min-height: 100vh;
    max-width: 3000px;
    margin: 0;
    padding: 1em;
    font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
    
    display: flex;
    flex-direction: column;
    
}

/** Header **/

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rule-button {
    position: absolute;
    right: 5%;
    font-size: inherit;
    aspect-ratio: 1 / 1;
    background-color: hsl(19, 83%, 52%);
    color: white;
}

/** Theme buttons **/

.theme-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    max-width: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.theme-area button{
    font-size: inherit;
    border-radius: 10px;
    padding: 10px;
    background-color: #fdb44d;
    border: none;
    margin-top: 5px;
    
}

.active-theme{
    outline: 2px solid floralwhite;
    outline-offset: 2px;
}

/** Keyboard **/

#keyboard-area {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: 0.25em;
    justify-content: center;
}

.key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    border-radius: 0.25em;
    padding: 0;
    background-color: hsl(
        var(--hue, 19),
        var(--saturation, 83%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 72%))
        );
    color: black;
    fill: black;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.key.large {
    grid-column: span 3;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --hue: 19;
    --saturation: 63%;
    --lightness: 55%;
}

.key.wrong-location{
    --hue: 49;
    --saturation: 79%;
    --lightness: 53%;
}

.key.correct {
    --hue: 128;
    --saturation: 43%;
    --lightness: 40%;
}

/** Game Area **/

#game-area {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: 0.25em;
    margin-bottom: 1em;

}

.tile {
    font-size: 2em;
    color: black;
    border: 0.05em solid hsl(240, 2%, 23%);
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    transition: transform 250ms linear;
}

.tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
    background-color: hsl(19, 63%, 55%);
    border: none;
}

.tile[data-state="wrong-location"] {
    background-color: hsl(49, 79%, 53%);
    border: none;
}

.tile[data-state="correct"] {
    background-color: hsl(128, 43%, 40%);
    border: none;
}

/** Tile Shake Animation **/

.tile.shake{
    animation: shake 250ms ease-in-out;
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

/** Tile Flip Animation **/

.tile.flip {
    transform: rotateX(90deg);
}

/** Tile Dance Animation **/

.tile.dance{
    animation: dance 500ms ease-in-out;
}

@keyframes dance {
    20% {
        transform: translateY(50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

/** Alert **/

.alert-container {
    position: fixed;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.alert {
    pointer-events: none;
    background-color: hsl(34, 57%, 70%);
    padding: 0.75em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.alert:last-child{
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

/** Rules and Overlay**/

.rules {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 5px solid #fdb44d;
    border-radius: 10px;
    z-index: 10;
    background-color: hsl(19, 100%, 65% );
    width: 75vw;
    max-width: 80%;
    height: 90vh;
    max-height: 80%;

    transition: 200ms ease-in-out;

    display: flex;
    flex-direction: column;
}

.rules.active {
    transform: translate(-50%, -50%) scale(1);
}

.rules-header {
    padding: 20px 25px;
    border-bottom: 2px solid black;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules-header .header-title {
    font-size: 2rem;
    font-weight: bold;
}

.rules-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.75rem;
    font-weight: bold;
}

.rules-body {
    padding: 20px 25px;
    overflow: auto;
}

.rules-body h3{
    margin-top: 0;
}

#example > li {
    padding-bottom: 25px;
    list-style: none;
}

li > img {
    max-width: 35vw;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/** Starting Window **/

.start-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background: url(../images/start-window-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.start-container.inactive{
    transform: translate(-50%, -50%) scale(0);
}

input {
    text-align: center;
    font-size: inherit;
}

.start-body > h3, .start-title > h1 {
    text-shadow: 1px 0px 5px #FFF;
}

#start-button {
    font-size: inherit;
    padding: 0.5% 5%;
    border-radius: 5px;
    margin-top: 1em;
}