*, *::before, *::after {
    box-sizing: border-box;
    font-family:  'Helvetic Neue', Arial, sans-serif;
}

header {
    background-color: #0e4323;
}

body {
    background-color: #EA5F1F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

.keyboard-area {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: 0.25em;
    justify-content: center;
}

.key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    border-radius: 0.25em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue,19),
        var(--saturation, 83%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 72%))
        );
    color: black;
    fill: black;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 55%;
}

.key.wrong-location{
    --hue: 49;
    --saturation: 79%;
    --lightness: 53%;
}

.key.correct {
    --hue: 128;
    --saturation: 43%;
    --lightness: 40%;
}
